{% extends "master.jinja2" %}

{% set rootfs = rootfs|default(true) %}
{% set use_context = use_context|default(true) %}
{% set guestfs_virtio = guestfs_virtio|default(true) %}
{% set rootfs_label = rootfs_label|default("rootfs") %}
{% set DEPLOY_TARGET = DEPLOY_TARGET|default("tmpfs") %}
{% set boot = boot|default(true) %}
{% set BOOT_LABEL = BOOT_LABEL|default("kernel") %}
{% set boot_method = boot_method|default("qemu") %}
{% set apply_overlay = apply_overlay|default("rootfs") %}
{% set TARGET_BOOT_TIMEOUT = TARGET_BOOT_TIMEOUT|default(10) %}
{% set auto_login = auto_login|default(true) %}
{% set AUTO_LOGIN_USERNAME = AUTO_LOGIN_USERNAME|default("root") %}
{% set USE_DOCKER = USE_DOCKER|default(false) %}
{% if USE_DOCKER is defined and USE_DOCKER == true %}
{% set DOCKER_QEMU_CONTAINER = DOCKER_QEMU_CONTAINER|default("linaro/lkft-qemu-should-not-used-for-long") %}
{% set DOCKER_QEMU_VERSION = DOCKER_QEMU_VERSION|default('latest') %}
{% endif %}

{% block global_settings %}
{{ super() }}
{% if guestfs_virtio is defined and guestfs_virtio == true %}
  guestfs_interface: virtio
{% endif %}
{% if USE_DOCKER is defined and USE_DOCKER == true %}
  netdevice: user
{% endif %}
{% endblock global_settings %}

{% block actions %}

{% block deploy_target %}
- deploy:
    timeout:
      minutes: {{ target_deploy_timeout }}
    to: {{ DEPLOY_TARGET }}
    images:
{% if ptable is defined and ptable == true %}
      ptable:
        url: {{PTABLE_URL}}
{% if PTABLE_URL_COMP is defined %}
        compression: {{PTABLE_URL_COMP}}
{% endif %}
{% if reboot_reset is defined and reboot_reset == true and DEPLOY_TARGET == "fastboot" %}
        reboot: hard-reset
{% endif %}
{% endif %}
{% if boot == true %}
      {{ BOOT_LABEL }}:
        url: {{BOOT_URL}}
{% block kernel_extra_args %}
{% endblock kernel_extra_args %}
{% if BOOT_URL_COMP is defined %}
        compression: {{BOOT_URL_COMP}}
{% endif %}
{% if reboot_reset is defined and reboot_reset == true and DEPLOY_TARGET == "fastboot" and BOOT_LABEL == "boot" %}
        reboot: hard-reset
{% endif %}
{% if apply_overlay == "bootimg" %}
        apply-overlay: true
{% endif %}
{% block boot_extra_args %}
{% endblock boot_extra_args %}
{% if BOOT_LABEL != "kernel" and KERNEL_URL is defined %}
      kernel:
        url: {{KERNEL_URL}}
{% if KERNEL_URL_COMP is defined %}
        compression: {{KERNEL_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% if DTB_URL is defined %}
      dtb:
        url: {{DTB_URL}}
{% endif %}
{% if MODULES_URL is defined %}
      modules:
        url: {{MODULES_URL}}
        path: {{MODULES_PATH|default("/")}}
{% if MODULES_URL_FORMAT is defined %}
        format: {{MODULES_URL_FORMAT}}
{% endif %}
{% if MODULES_URL_COMP is defined %}
        compression: {{MODULES_URL_COMP}}
{% endif %}
{% endif %}
{% if rootfs == true %}
      {{ rootfs_label }}:
        url: {{ROOTFS_URL}}
{% if ROOTFS_URL_FORMAT is defined %}
        format: {{ROOTFS_URL_FORMAT}}
{% endif %}
{% if ROOTFS_URL_COMP is defined %}
        compression: {{ROOTFS_URL_COMP}}
{% endif %}
{% if apply_overlay == "rootfs" %}
        apply-overlay: true
{% endif %}
{% block rootfs_extra_args %}
{% endblock rootfs_extra_args %}
{# Process the following block if any overlays provided #}
{% if OVERLAY_MODULES_URL is defined or
      OVERLAY_KSELFTEST_URL is defined or
      OVERLAY_PERF_URL is defined or
      OVERLAY_MMTESTS_URL is defined %}
        overlays:
{% if OVERLAY_MODULES_URL is defined %}
          modules:
            url: {{OVERLAY_MODULES_URL}}
            path: {{OVERLAY_MODULES_PATH|default("/")}}
{% if OVERLAY_MODULES_URL_FORMAT is defined %}
            format: {{OVERLAY_MODULES_URL_FORMAT}}
{% endif %}
{% if OVERLAY_MODULES_URL_COMP is defined %}
            compression: {{OVERLAY_MODULES_URL_COMP}}
{% endif %}
{% endif %}
{# MMTest-specific overlay settings  #}
{% if OVERLAY_MMTESTS_URL is defined %}
          mmtests:
            url: {{ OVERLAY_MMTESTS_URL }}
            path: {{ MMTESTS_PATH }}
{% if OVERLAY_MMTESTS_URL_FORMAT is defined %}
            format: {{ OVERLAY_MMTESTS_URL_FORMAT }}
{% endif %}
{% if OVERLAY_MMTESTS_URL_COMP is defined %}
            compression: {{ OVERLAY_MMTESTS_URL_COMP }}
{% endif %}
{% endif %}
{% if OVERLAY_KSELFTEST_URL is defined %}
          kselftest:
            url: {{OVERLAY_KSELFTEST_URL}}
            path: {{KSELFTEST_PATH}}
{% if OVERLAY_KSELFTEST_URL_FORMAT is defined %}
            format: {{OVERLAY_KSELFTEST_URL_FORMAT}}
{% endif %}
{% if OVERLAY_KSELFTEST_URL_COMP is defined %}
            compression: {{OVERLAY_KSELFTEST_URL_COMP}}
{% endif %}
{% if OVERLAY_CPUPOWER_URL is defined %}
          cpupower:
            url: {{OVERLAY_CPUPOWER_URL}}
            path: {{CPUPOWER_PATH|default("/")}}
{% if OVERLAY_CPUPOWER_URL_FORMAT is defined %}
            format: {{OVERLAY_CPUPOWER_URL_FORMAT}}
{% endif %}
{% if OVERLAY_CPUPOWER_URL_COMP is defined %}
            compression: {{OVERLAY_CPUPOWER_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% if OVERLAY_PERF_URL is defined %}
          perf:
            url: {{OVERLAY_PERF_URL}}
            path: {{PERF_PATH|default("/")}}
{% if OVERLAY_PERF_URL_FORMAT is defined %}
            format: {{OVERLAY_PERF_URL_FORMAT}}
{% endif %}
{% if OVERLAY_PERF_URL_COMP is defined %}
            compression: {{OVERLAY_PERF_URL_COMP}}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% if flasher is defined and flasher == true and DEPLOY_TARGET == "flasher" %}
      tarball:
        url: {{ TARBALL_URL }}
      layout:
        url: {{ LAYOUT_URL }}
{% endif %}
    os: {{DEPLOY_OS}}
{% endblock deploy_target %}

{% block pre_boot_command %}
{% include "include/boot_target/pre_boot_commands.jinja2" %}
{% endblock pre_boot_command %}

{% block boot_target %}
- boot:
{% if USE_DOCKER is defined and USE_DOCKER == true %}
    docker:
      binary: {{ DOCKER_QEMU_BINARY }}
      image: {{ DOCKER_QEMU_CONTAINER}}:{{ DOCKER_QEMU_VERSION}}
{% endif %}
{% if auto_login == true %}
{% include "include/boot_target/auto_login.jinja2" %}
{% block auto_login_commands %}
{% include "include/boot_target/auto_login_commands.jinja2" %}
{% endblock auto_login_commands %}
{% endif %}
{% include "include/boot_target/boot_os_prompt.jinja2" %}
{% include "include/boot_target/timeout_and_method.jinja2" %}
{% if flasher is defined and flasher == true %}
{% include "include/boot_target/transfer_overlay.jinja2" %}
{% endif %}
{% block boot_commands %}
{% endblock boot_commands %}
{% endblock boot_target %}

{{ super() }}

{% endblock actions %}
